/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-200;
}

/* Custom FONT */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato.regular.ttf");
}

#root {
  font-family: "Lato<3";
  color: aliceblue;
}
/* NAVBAR LOGO */
@media (max-width: 319px) {
#navlogo {
  visibility: collapse;
  display: none;
}
}


/* Container */
@media (max-width: 767px) {
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

body {
  background: #30283b;
}

.dark body {
  background: #201E35;
}

.active {
  color: #01a93e;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FB923C;
  color: white;
  border: none;
  cursor: pointer;
}

.Button:hover {
  background-color: #01a93e;
}

/* ContactForm & ContactAvatar */
@media (max-width: 767px) {
  #contactimg {
    visibility: collapse;
    display: none;
  }

  #cardform {
    display:grid;
    grid-template-columns: none;
    grid-template: none;
  }

  #profilediv{
    display: flex;
  flex-direction: column;
  }
  
  #profileavatar {
    visibility: collapse;
    display: none;
  }
}

/* Gallery */
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

/* TOOLS */
@media (max-width: 1023px){
.tools{
display: grid;
grid-template-columns: repeat(1, minmax(0, 1fr));
justify-self: center;
}
.toolstext{
  display: none;
  text-align: center;
  padding-top: 4px;
}
.toolsimage {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-self: center;
}
}

/* Footer */
@media (max-width: 425px) {
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center horizontally */
    justify-content: center;  /* Center vertically */
    text-align: center;  /* Center text alignment */
  }
  .footertext {
    text-align: center;
  }
  .footersocial{
    display: flex;
    justify-content: center;
  }
}