.card {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
